html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,code,form,input,button,textarea,p,th,td{box-sizing: content-box;padding:0; margin:0; font-weight:normal;color:#000;text-align: left;outline:none;font-family: "Microsoft YaHei";}
html,body{ text-align: center; font-size: 12px; width: 756px; height:1086px; padding:0; margin: 0 auto; word-wrap: break-word; word-break: normal; background: #fff;}
em{ font-style: normal;}
.pImg{ width:100%;}
iframe{width:100%;height:100%;}
.fl{ float: left;}
.fr{ float: right;}
.clearFix:after{
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
textarea{ resize:none;}
.clearFix {zoom: 1;}

.bold{font-weight:bold;}
.fontBigYellow{font-size:22px; color:#f9a51b;overflow: hidden;}
.fontBigGray{font-size:22px; color:#6e6f72;overflow: hidden;}
.fontSmallYellow{font-size:19px; color:#f9a51b;overflow: hidden;}
.font12Yellow{font-size:12px; color:#f9a51b;overflow: hidden;}
.fontSmallGray{font-size:19px; color:#6e6f72;overflow: hidden;}
.fontSmallBlack{font-size:12px;color:#333;overflow: hidden;}
.font21Black{font-size:21px;color:#000;overflow: hidden;}
.font24Black{font-size:24px;color:#000;overflow: hidden;}
.font26Yellow{font-size:26px;color:hsl(37, 95%, 54%);overflow: hidden;}
.font26Black{font-size:26px;color:#000;overflow: hidden;}
.font24Yellow{font-size:24px;color:#f9a51b;overflow: hidden;}
.bigPercent{font-size:37px; color:#f9a51b;}
.h2{ font-size:22px; color:#000;overflow: hidden;font-weight:bold;}


.tableH22 td{height:22px;line-height:22px; text-align: center;}
.tableH20 td{height:20px;line-height:20px; text-align: center;overflow: hidden; white-space: normal;}
.tablePrice td{height:22px;line-height:22px; text-align: center;overflow: hidden; white-space: normal;}
.tableH28 td{height:28px;line-height:28px; font-size:20px; overflow: hidden; white-space: normal; color:#000;}
.textListWrap li{ height:22px; line-height: 22px; font-size:12px; color:#000;}
.textListWrap li i{ display: inline-block; width:8px; height:8px; border-radius:50%; -webkit-border-radius:50%; -moz-border-radius:50%; -ms-border-radius:50%; -o-border-radius:50%; background:#f9a51b; }
.textListWrap li p,.textListWrap li input{ padding-left:10px;display: inline-block; width:552px;}
.fangyuanggaikuang p{ height:22px;line-height:22px;font-size:12px;color:#000; width:130px;}
.underLine{ background:url(../img/pic/line.jpg);background-repeat: repeat-x; background-position: bottom;}
.btn{ width:80px; height:26px; font-size:14px; text-align: center; color:#fff;border:0; background:#f9a51b; border-radius:4px; cursor:pointer; margin:10px; -webkit-border-radius:4px pointer; -moz-border-radius:4px pointer; -ms-border-radius:4px pointer; -o-border-radius:4px pointer; }
.btn:disabled{ background: #6e6f72;}
.wholePaper{ position: relative;page-break-inside:avoid;height:1122px;width:794px;overflow: hidden;margin:0 auto;}

.priceCont,.priceContTable{ width:569px;height:141px; background:url(../img/pic/price2.png) no-repeat; background-size:contain;}
.priceCont.priceContTable{ background-image: url(../img/pic/price1.png); background-size:contain;}
.priceCont table{ display: none;}
.priceCont.priceContTable table{ display: table;}

#btnGroupWrap{ width:116px; position: fixed; top:50%;right:0; transform:translateY(-50%); -webkit-transform:translateY(-50%); -moz-transform:translateY(-50%); -ms-transform:translateY(-50%); -o-transform:translateY(-50%); }
#btnGroupWrap ul li{ height:24px;line-height:24px; text-align: center;}
#btnGroupWrap ul li a{ color:#f9a51b; font-size:16px;}
#btnGroupWrap ul li a:hover{ color:#ff5722;}

.pageWrap{ width:568px; margin:0 auto;}
.daikanBox{ position: relative; height:514px;}
.daikanBox p{ line-height:68px;font-weight:bold;letter-spacing: 1px;}
.daikanBox span{ font-size:106px;color:#f6ab00; font-weight:bold;line-height:106px;}
.daikanBox .echartWrap{width:406px;height:260px; position: absolute;right:0;top:80px;}
.textListWrap2Line li{width:271px; line-height:24px;height:48px;padding-top:2px;}
.textListWrap2Line li i{margin-top:8px;}
.textListWrap2Line li i,.textListWrap2Line li textarea{vertical-align:top;}
.textListWrap2Line li textarea,.textListWrap2Line li p{ line-height:24px; padding-left:5px;width:254px;height:48px;}
.wonaBuy{ height:444px; overflow: hidden;}
.wonaBuyP{ height:148px; position: relative;padding-left:139px; line-height:24px;width:448px;}
.wonaBuyP h6{ position: absolute; left:10px; width:87px; height:87px; text-align: center; line-height:87px;font-size:40px; font-weight:bold; color:#fff; background:#f6ab00; border-radius:50%; -webkit-border-radius:50%; -moz-border-radius:50%; -ms-border-radius:50%; -o-border-radius:50%; }
.wonaBuyP .name,.wonaBuyP .sex{ font-size:22px; line-height:28px; font-weight:bold; width:100px; display:inline-block;min-height:28px;}
.wonaBuyP .sex{ font-weight:normal;}
.wonaBuyP div.wonaBuyPInfo{min-height:24px;}
.wonaBuyP div.wonaBuyPInfo input{ width:386px;}
.wonaBuyP div.wonaBuyPInfo span{vertical-align: top;}
.wonaBuyP div.wonaBuyPInfo textarea,.wonaBuyP div.wonaBuyPInfo p{ width:426px; text-indent: 5em; vertical-align: top;height:48px; line-height:24px;margin-left:-60px; display: inline-block;}


.textListWrap2Line.textarea406 li{width:443px;}
.textListWrap2Line.textarea406 li textarea{ width:406px;}
.textListWrap2Line.textarea406 li p{ width:406px;}
.sameHouse{ position: relative; height:203px;background: url(../img/pic/houseInfo.png);
    background-size: contain;}
.sameHouse input{ position: absolute; top:166px;left:0;}
.sameHouse .sameHouseInfo{padding-left:65px;}
.sameHouse .sameHouseInfo textarea,.sameHouse .sameHouseInfo div p{width:282px;height:72px;line-height:24px;text-indent: 5em;}
.sameHouse .sameHouseInfo p{ line-height:24px;height:24px;}
.sameHouse img{ width:221px;height:166px;}

.sale0{background: url(../img/sale0.png) no-repeat;background-size:contain;}
.sale1{background: url(../img/sale1.png) no-repeat;background-size:contain;}
.sale2{background: url(../img/sale2.png) no-repeat;background-size:contain;}
.sale3{background: url(../img/sale3.png) no-repeat;background-size:contain;}
.sale4{background: url(../img/sale4.png) no-repeat;background-size:contain;}
.sale5{background: url(../img/sale5.png) no-repeat;background-size:contain;}
.sale6{background: url(../img/sale6.png) no-repeat;background-size:contain;}
.sale7{background: url(../img/sale7.png) no-repeat;background-size:contain;}
.sale8{background: url(../img/sale8.png) no-repeat;background-size:contain;}
.sale11{background: url(../img/sale11.png) no-repeat;background-size:contain;}
.sale12{background: url(../img/sale12.png) no-repeat;background-size:contain;}
.sale13{background: url(../img/sale13.png) no-repeat;background-size:contain;}

.reporta1{background: url(../img/reporta1.png) no-repeat;background-size:contain;}
.reporta2{background: url(../img/reporta2.png) no-repeat;background-size:contain;}
.reporta3{background: url(../img/reporta3.png) no-repeat;background-size:contain;}
.reporta4{background: url(../img/reporta4.png) no-repeat;background-size:contain;}
.reporta5{background: url(../img/reporta5.png) no-repeat;background-size:contain;}
.reporta6{background: url(../img/reporta6.png) no-repeat;background-size:contain;}
.reporta7{background: url(../img/reporta7.png) no-repeat;background-size:contain;}

.reportb1{background: url(../img/reportb1.png) no-repeat;background-size:contain;}
.reportb2{background: url(../img/reportb2.png) no-repeat;background-size:contain;}
.reportb3{background: url(../img/reportb3.png) no-repeat;background-size:contain;}
.reportb4{background: url(../img/reportb4.png) no-repeat;background-size:contain;}
.reportb5{background: url(../img/reportb5.png) no-repeat;background-size:contain;}
.reportb6{background: url(../img/reportb6.png) no-repeat;background-size:contain;}
.reportb7{background: url(../img/reportb7.png) no-repeat;background-size:contain;}
.reportb8{background: url(../img/reportb8.png) no-repeat;background-size:contain;}
/* .reportb9{background: url(../img/reportb9.png) no-repeat;background-size:contain;} */
.reportb10{background: url(../img/reportb10.png) no-repeat;background-size:contain;}

.see1{background: url(../img/see1.png) no-repeat;background-size:contain;}
.see2{background: url(../img/see2.png) no-repeat;background-size:contain;}
.see3{background: url(../img/see3.png) no-repeat;background-size:contain;}
.see4{background: url(../img/see4.png) no-repeat;background-size:contain;}
/* .see5{background: url(../img/see5.png) no-repeat;background-size:contain;} */
.see6{background: url(../img/see6.png) no-repeat;background-size:contain;}
.see7{background: url(../img/see7.png) no-repeat;background-size:contain;}


.wrap{width:100%;height:100%;position: absolute; top:0; left:0;}
.ren{ height:133px; position: relative; background:url(../img/pic/ren.png) no-repeat;background-size:contain;}
.ren .uploadBtn{ position: absolute; left:0;bottom:0;}
.ren .delBtn{ position: absolute; left:80px;bottom:0;}
.avator img{ width:112px; height:112px; border-radius:50%; -webkit-border-radius:50%; -moz-border-radius:50%; -ms-border-radius:50%; -o-border-radius:50%; border:2px solid #fab33e;display:block;}
.avatorDefault img{ border-color:#ababab;}
.teamBox{ position:absolute; top:181px; left:107px;}
.uploadBtn{ border:0; color:#fff; padding:0 10px; height:22px; font-size:14px; background:#f6ab00; border-radius:4px ; outline: none; text-align: center; cursor: pointer; -webkit-border-radius:4px ; -moz-border-radius:4px ; -ms-border-radius:4px ; -o-border-radius:4px ; }
ul,ol,li{list-style: none;}

.underLineInp{ border:0;background:none;background:url(../img/pic/line.jpg) repeat-x bottom;}
td input{width:100%;height:100%;}
.lineH22{ line-height:22px;min-height:22px;}

.reportb10 .textListWrap li,.reportb10 .textListWrap li p,.reportb10 .textListWrap li p input,.reporta7 .textListWrap li,.reporta7 .textListWrap li p,.reporta7 .textListWrap li p input{ padding-left:0;height:24px; line-height:24px;}

.reasonList li{ float:left; height:24px; cursor: pointer;}
.reasonList li i{ display: inline-block; width:26px; height:24px; background:url(../img/pic/reason.png) no-repeat;background-size:15px; background-position:6px 6px;}
.reasonList li.checked i{background:url(../img/pic/reasonCheck.png) no-repeat;background-size:24px; background-position:2px;}

.seeInfo{ width:235px; padding-top:58px;}
.seeInfo ul li span,.seeInfo ul li label{ float:left;font-size:12px;color:#000; line-height:24px; vertical-align: top;}
.seeInfo ul li label textarea{ height:48px;line-height:24px; width:100%;}
.seeInfo ul li label input{ width:100%;}
.seeInfoPic{ position: relative;}
.seeInfoPic img{ width:333px;height:250px;display: block;}

.seePanWrap h6{ font-size:22px; line-height:38px; font-weight:bold;}
.seePanTable{ position: relative;width:100%;padding-top:38px;}
.seePanTable table{ position: absolute;z-index:2;}
.seePanTable th{height:40px; border-bottom:4px solid #f8a419;font-size:13px; font-weight:bold;line-height:40px;padding-left:8px;text-align: left;}
.seePanTable td{ height:30px; line-height:30px;padding-left:8px;border-bottom:1px solid #cdcdce;text-align: left;}
.seePanTable td p{ width:112px;overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.seePanTable .seePanBg{ position: absolute;z-index:1; width:112px; height:364px; background:#f2f2f2; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; -ms-border-radius:5px; -o-border-radius:5px; }
.seePanTable .seePanBg.a{left:0;}
.seePanTable .seePanBg.b{left:122px;}
.seePanTable .seePanBg.c{left:242px;}
.seePanTable .seePanBg.d{left:362px;}
.seePanTable .seePanBg.e{left:484px;}
.seeOverLook{ position: absolute;top:261px;width:568px;left:0;}
.seeOverLook img{ display:block;width:557px;height:418px;margin:0 auto;}
.seeMatch{position: absolute;top:757px;width:568px;left:0;}
.seeMatch img{ display:block;width:390px;height:292px;margin:0 auto;}
.apartmentWrap{ height:450px;}
.apartmentWrap ul li{ float:left;width:190px;height:225px;position: relative;}
.apartmentWrap ul li div{ width:160px;height:146px;padding-top:45px;margin:0 auto;}
.apartmentWrap ul li img{ width:160px;height:146px;display: block;}
.apartmentWrap ul li p{ height:30px; line-height:30px; font-size:13px;text-align: center;}
.apartmentWrap ul li.apartment1{ background: url(../img/pic/1.png) no-repeat; background-size:contain;}
.apartmentWrap ul li.apartment2{ background: url(../img/pic/2.png) no-repeat; background-size:contain;}
.apartmentWrap ul li.apartment3{ background: url(../img/pic/3.png) no-repeat; background-size:contain;}
.apartmentWrap ul li.apartment4{ background: url(../img/pic/4.png) no-repeat; background-size:contain;}
.apartmentWrap ul li.apartment5{ background: url(../img/pic/5.png) no-repeat; background-size:contain;}
.apartmentWrap ul li.apartment6{ background: url(../img/pic/6.png) no-repeat; background-size:contain;}
.apartmentWrap ul li.apartment7{ background: url(../img/pic/7.png) no-repeat; background-size:contain;}
.apartmentWrap ul li.apartments{ background: url(../img/pic/s.png) no-repeat; background-size:contain;}
.apartmentWrap ul li.apartmentk{ background: url(../img/pic/k.png) no-repeat; background-size:contain;}
.apartmentWrap ul li input{ position: absolute;left:0;bottom:10px;}
.apartmentWrap ul li:nth-child(3n-1){ width:190px;}
.apartmentWrap ul li:nth-child(3n){ width:187px;}
.apartmentWrap ul li:nth-child(3n) div{ margin-left:26px;}
.apartmentWrap ul li:nth-child(3n) p{padding-left:26px;}
.apartmentWrap ul li:nth-child(4){ width:190px;}
.apartmentWrap ul li:nth-child(4) div{margin:0;}
.apartmentWrap ul li:nth-child(1){width:190px;height:222px;}

.viewAparment{height:482px;}
.viewAparment .fl,.viewAparment .fl img{ width:354px;}
.viewAparment .fl img{ height:266px; display: block;}
.viewAparment .fr{ padding:25px 0 0 22px;width:190px;}
.viewAparment .fr h5{height:37px; line-height:37px;padding-bottom:18px;}
.viewAparment .fr h5 span{ font-size:26px;color:#f9a213;font-weight:bold;}
.viewAparment .fr p{ height:23px; line-height:24px;padding-left:45px; min-height:23px;}
.viewAparment .fr h6,.viewAparment .fr h6 textarea{ color:#ffbb4b;width:200px;padding-top:73px;line-height:24px;overflow: hidden;}
.viewAparment .fr h6 textarea{padding-top:0;max-height:170px;height:170px;}
.viewPic{height:132px;}
.viewPic div{ position: relative;float:left;}
.viewPic div img,.viewPic div{ width:174px;height:132px;}
.viewPic div input{ position: absolute;left:0;top:132px;}
.viewPic div:nth-child(2){ margin:0 23px;}

.agentWrap{ padding-top:110px;}
.agentWrap .agentAvator{ width:90px;float:left;}
.agentWrap .agentAvator img{ width:74px; height:74px; border-radius:50%; -webkit-border-radius:50%; -moz-border-radius:50%; -ms-border-radius:50%; -o-border-radius:50%; }
.agentWrap .agentInfo{ width:400px; float:left;}
.agentWrap .agentInfo .agentGroup{ line-height:30px;}
.agentWrap .agentInfo .agentPhone{ line-height:36px;}
.averagePrice{ position: absolute;top:327px;font-size:23px; font-weight:bold; line-height:37px;}
.averagePrice span{ font-size:37px; font-weight:bold; color:#f9a41b;}
.saleTable{ position: absolute;top:586px;left:0;width:100%;}
.saleTable td{ text-align: left; line-height:29px; height:29px; border-bottom:1px solid #ccc;}

#loading{ position:fixed;top:0;left:0;width:100%; z-index:9; height:100%; background:rgba(255,255,255,.7) url(../img/pic/loading2.gif) center no-repeat; background-size:400px;}